.card img{
    width: auto;
    height: 150px;
}

h1{
    font-family: 'Montserrat', sans-serif;;
}

.plataforma{
    text-align: center;
}

.titulo_pla{
    background-color: cadetblue;
    margin-bottom: 50px;
}

.carousel-item img{
    height: 600px;
    width: auto;
}

.contacto{
    width: auto;
    height: 350px;
    background-color: black;
}
.con p{
    color: white;
}

.red{
    margin-top: 70px;
}